<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        Secure Authentication Lab
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>


<body>

    <nav>

        <div class="nav-container">

            <h2>SecureAuth Lab</h2>

            <div class="nav-links">

                <a href="{{ url_for('home') }}">
                    Home
                </a>

                {% if current_user.is_authenticated %}

                    <a href="{{ url_for('dashboard') }}">
                        Dashboard
                    </a>

                    <a href="{{ url_for('logout') }}">
                        Logout
                    </a>

                {% else %}

                    <a href="{{ url_for('register') }}">
                        Register
                    </a>

                    <a href="{{ url_for('login') }}">
                        Login
                    </a>

                {% endif %}

            </div>

        </div>

    </nav>


    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                <div class="message-container">

                    {% for category, message in messages %}

                        <div class="alert {{ category }}">
                            {{ message }}
                        </div>

                    {% endfor %}

                </div>

            {% endif %}

        {% endwith %}


        {% block content %}
        {% endblock %}

    </main>

</body>

</html>